.footer-container{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}


.footer-links{
    display: flex;
    flex:400px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer-contact{
    display: flex;
    flex: 400px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}